.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: #212121;
}

.firts-logo-word {
  color: var(--accent-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// .studio-underline, 
// .partfolio-underline {
//   color: var(--accent-color);

//   &::after {
//     display: block;
//     position: absolute;
//     top: 48px;
//     left: 0;
//     content: "";
//     width: 100%;
//     height: 4px;
//     background: #2196f3;
//     border-radius: 2px;
//   }
// }

.header-adress {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.mail-link {
  margin-right: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  transition: 250ms var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  transition: 250ms var(--animation-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.tel-svg,
.mail-svg {
  margin-right: 10px;
  transition: 250ms var(--animation-timing-function);
  fill: var(--grey-color);
}

.tel-link:hover .tel-svg,
.tel-link:focus .tel-svg,
.mail-link:hover .mail-svg,
.mail-link:focus .mail-svg {
  fill: var(--accent-color);
}
