.services {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services-wrapper {
  position: relative;
  overflow: hidden;
}

.services-discription {
  position: absolute;
  // overflow: auto;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--animation-timing-function);
  .services-link-wrapper:hover &,
  .services-link-wrapper:focus & {
    transform: translateY(0%);
    transition: 250ms var(--animation-timing-function);
  }
}

.services-img-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.services-img-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.services-about {
  width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.services-subtitle {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.services-paragraf {
  color: var(--grey-color);
}
