:root {
    --accent-color: #2196f3;
    --grey-color: #757575;
    --white-color: #ffffff;
    --footer-font-color: rgba(255, 255, 255, 0.6);
    --bg-color: #f5f4fa;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }